{% extends 'base.html' %}
{% block content %}
    <div class="container mt-5">
        <h2>Create a New Task</h2>
        <form method="POST" class="mt-4">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.title.label_tag }}
                {{ form.title }}
            </div>
            <div class="mb-3">
                {{ form.description.label_tag }}
                {{ form.description }}
            </div>
            <div class="mb-3">
                {{ form.difficulty.label_tag }}
                {{ form.difficulty }}
            </div>
            
            <div class="mb-3">
                <label for="{{ form.due_date.id_for_label }}" class="form-label">Due Date</label>
                {{ form.due_date }}
                {% if form.due_date.errors %}
                    <div class="invalid-feedback d-block">
                        {{ form.due_date.errors|join:", " }}
                    </div>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary">Save Task</button>
            <a href="{% url 'tasks:task_list' %}" class="btn btn-secondary ms-2">Cancel</a>
        </form>
    </div>
{% endblock content %}